<div class="relative py-24 sm:py-32 lg:pb-40 lg:pt-32 px-4 sm:px-6 lg:px-8 text-center">
    <div class="relative mx-auto max-w-4xl">
        
        
        <h1 class="relative text-4xl sm:text-6xl lg:text-7xl font-extrabold tracking-tight text-white leading-tight">
            Restore Your Vehicle's Performance with <span class="text-indigo-400">Expert Auto Repair</span>
        </h1>
        
        <p class="relative mt-6 text-lg sm:text-xl leading-8 text-indigo-200">
            Specialized services for all makes and models. Trusted mechanics delivering precision and quality.
        </p>
        
        <div class="relative mt-10 flex justify-center">
            <a href="#contact" 
            class="rounded-full bg-indigo-600 px-6 py-3 text-lg font-semibold text-white shadow-xl hover:bg-indigo-500 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition duration-300 transform hover:scale-105">
            Contact for a Service Now &rarr;
        </a>
    </div>
   
    </div>
</div>